.Pizza {
  height: 50vh;
  background: url("./pizza-splash.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
}

.Pizza .header-text {
  padding-top: 13%;
  font-size: 70px;
  font-weight: 900;
  color: white;
}
